---
layout: kategori-layout
title: Basic
permalink: /basic/
---
{% for cat_name in site.kategori %}
{% assign materi_per_kategori = site.materi | where: "kategori", cat_name %}
<a href="{{ '/' | append: category_slug | append: '/' | relative_url }}" ><span class="list-label">./{{ cat_name }}</span></a>
{% assign items_urut = materi_per_kategori | sort: "order" %}
{% for item in items_urut %}
	<a href="{{ item.url | relative_url }}" class="materi-item">{{ item.title }}</a>
{% endfor %}
{% endfor %}